.container.pt-4
  .row(*ngIf="purchase.orders$ | async; let orders;")

    // Aside
    .col-sm-4

      .card.mb-4(*ngIf="(((user$ | async)?.hasPurchased || (user$ | async)?.loggedIn) || orders.length)")
        .card-header Hello {{ (user$ | async)?.name }}!

      .card(*ngIf="orders.length")
        .card-header Basket
          | &nbsp; (
          span {{ orders.length }}
          | &nbsp; Items )

        ul.list-group(*ngIf="orders.length")
          .list-group-item(*ngFor="let order of orders; index as i")
            | {{i}} - {{order.name}} {{order.id}}

        .pt-4(*ngIf="orders.length")
          input.btn.btn-success.btn-block(
            (click)="checkout()"
            type="button"
            value="Purchase"
          )
          input.btn.btn-warning.btn-block(
            (click)="updateLastOrder()"
            type="button"
            value="Update the last order"
          )

    .col-sm-8
        h3 Angular Checkout
        hr

        form([formGroup]="checkoutForm"   (ngSubmit)="submitCheckout()" )
          app-user-details(
            *ngIf="!orders.length && !(user$ | async)?.hasPurchased"
            (whenValidSubmit) = "whenUserDetailsValidSubmit($event)"
            [checkoutForm]="checkoutForm"
            )

          .row
            .col-sm-8.offset-sm-2.pt-4
              input.btn.btn-primary.btn-block(
                type="submit"
                value="Add to Basket"
              )



